<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title> {{product.nombre}} </ion-title>
        <ion-buttons slot="end">
          <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>

      </ion-toolbar>
    </ion-card-header>
    <ion-card-content>

      <img id="imagenprod" [src]="product.img" alt="{{ product.img }}">



        <h2></h2>
        <p>Precio: ${{ product.precio }}</p>
        <p>detalles: {{product.descripcion}}</p>
    </ion-card-content>
  </ion-card>
  <div class="center-button">
    <ion-button (click)="addToCart(product)">Agregar al carrito</ion-button>
    <ion-button (click)="addToFav(product)"><ion-icon name="heart-outline"></ion-icon></ion-button>
  </div>
  <ion-card>
    <ion-card-header>
      <ion-title> Deja tu comentario </ion-title>
    </ion-card-header>
    <form [formGroup]="comentarioForm" (ngSubmit)="onFormSubmit(comentarioForm.value)">
      <ion-item>
        <ion-label position="floating">Nombre del cliente</ion-label>
        <ion-input type="text" [(ngModel)]="comentario.user" formControlName="com_user"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Reseña</ion-label>
        <ion-input type="text-area" [(ngModel)]="comentario.resenna" formControlName="com_com"></ion-input>
      </ion-item>
      <ion-button type="submit" color="primary" expand="block"
        [disabled]="!comentarioForm.valid">Submit</ion-button>
    </form>
  </ion-card>
  <ion-card>
    <ion-title> Comentarios </ion-title>
  <ion-item *ngFor="let com of comentarios">
    <ion-card id="comentarioxd" expand="full">
      <ion-card-header>
        <ion-card-title>{{ com.user }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        {{ com.resenna }}
      </ion-card-content>
    </ion-card>
  </ion-item>
</ion-card>
</ion-content>
